.centered {
	text-align: center;
	margin: auto;
}

div {
	background-color:white
}

body {
	background-color: white;
	font-family: helvetica;
}

.tab {
	padding-left: 110px;
}

.bottom {
	position: fixed;
	bottom: 0;
}

tr.tablerow  > td{
		padding-bottom: 1em;
}

.comingSoon {
	color: red;
}